@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Alleen WebApplication2 is gesigned! Dus CoreClassLibrary 1 en 2 en StandardNuGetLibrary NIET!</p>
    <p>We leren hieruit dat Core, signing alleen voor het hoogste project nodig heeft (ie WebApplication2)</p>
    <code>(Dit vind ik vreemd?)</code>
    <p></p>
    <p>Ten tweede slaat het alle versies (1.0.0.0 en 1.1.0.0) plat en neemt het 'gewoon' de hoogste versie</p>
    <p></p>
    <p>Later nog een test gedaan met signen van StandardNuGetLibrary, maar dat maakt ook geen verschil.</p>
    <p>M.a.w. CoreClassLibrary1 gebruikt dan v1.0.0.0 van StandardNuGetLibrary</p>
    <p>en CoreClassLibrary2 gebruikt dan v1.1.0.0 van StandardNuGetLibrary</p>
    <p>en CoreClassLibrary1 en CoreClassLibrary2 zelf zijn niet gesigned</p>
    <p>Toch werkt de applicatie gewoon (weergave 1.1.0.0 in beide situaties)</p>
    <p></p>
    <p></p>
</div>
